* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product {
    width: 300px;
    align-self: start;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.product>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product>h4 {
    color: gray;
}

.product>:first-child:last-child(2) {
    color: gray;
}


.detal_kontiner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    padding: 100px 0;
    flex-wrap: wrap;
}

.detalimg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#gallery_box {
    width: 80px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;

    li {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 3px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.detalinfo {
    width: 450px;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    pad: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 15px;

    &::-webkit-scrollbar{
        display: none;
    }
}


#mainimg {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#sizes>ul>li {
    width: 50px;
    height: 60px;
    transition: 4s;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid gray;
    outline: none;
}

.sizetile {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

#sizes {
    width: 420px;
    display: flex;
    gap: 6px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}

#sizes li {
    width: 180px;
    padding: 10px;
    border: 1px solid;
    text-align: center;

}

#category {
    color: gray;
    font-size: 25px;
}

#newprice {
    font-size: 19px;
    font-weight: 600;
}

#oldprice {
    color: gray;
}

.sizetile span {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    gap: 5px;
}

.detalinfo button {
    width: 400px;
    /* height: 60px; */

    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
}

#favorite {
    background-color: white;
    color: black;
    font-size: 20px;
    border: 2px solid rgb(201, 200, 200);
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

#favorite:hover {
    border-color: black;
}

#desc {
    font-weight: 600;
}

.detalinfo button:hover {
    background-color: gray;
    border-color: gray;
}

header {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px
}

header>ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

header button {
    width: 40px;
    height: 40px;
}


.shopbag,.likebox {
    width: 400px;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 80px;
    transition: .44s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.295);
    padding: 20px;
}

.shopbag>div,.likebox>div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

#closshopbag,#closelikebox {
    width: 40px;
    height: 40px;
}

#shopbagproducts img, #likedproducts img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

#shopbagproducts li, #likedproducts li {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 15px;
}


/* #shopbagproducts{
    width: 120px; */
/* } */



#minusbtn{
    width: 25px;
    height: 25px;
}
#plusbtn{
    width: 25px;
    height: 25px;
}

@media (max-width:552px){
    .detal_kontiner{
        padding: 30px;
    }
    #gallery_box{
        width: 100%;
        flex-direction:row ;
    }
    .detalimg{
        width: 100%;
        flex-direction: column-reverse;
    }
    #mainimg{
        height: 400px;
    }
    .detal_kontiner{
        padding: 10px;
    }
    #gallery_box{
        flex-wrap: wrap;
        justify-content: start;
    }
    #sizes{
        width: 100%;
    }
    .detalinfo{
        height: auto;
    }
    .shopbag,.likebox{
        width: 100%;
        top: 100px;
    }
}
